@model PhotoBoom.Models.Photo
@{
    ViewData["Title"] = "AddPhoto";
}

<div class="text-center">
    <h1 class="display-4">Add Photo</h1>
    <form id="AddPhotoForm" asp-controller="Home" asp-action="AddPhoto" method="post" enctype="multipart/form-data">
        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; vertical-align: top">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title">
                </td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top">
                    <label asp-for="Tags">Tags</label>
                    <input asp-for="Tags">
                </td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top">
                    <input type="file" name="file" />
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: top">
                    <a href="#" onclick="document.getElementById('AddPhotoForm').submit()">Add photo</a>
                </td>
            </tr>
        </table>
    </form>
</div>