@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Photoboom</h1>
    <p>Welcome to your favourite website.</p>
    <a asp-action="Photos">My photos</a>
</div>
